_site
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache
.sass-cache
.jekyll-metadata
vendor/
.bundle/config

# Jekyll

Gemfile
Gemfile.lock

# System files
.idea/
.vscode/

# LaTex
*.aux
*.log
